.overlay {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 30%);
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #801ab2;
  border-top: 5px solid #4c4cff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.text {
  margin: 0;
  color: #f2f2f3;
  font-size: 24px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
