section {
  --button-panel-height: 60px;
  --button-panel-margin-top: 40px;
  --flow-panel-padding-bottom: 40px;
  --flow-panel-height-shorten: calc(
    var(--button-panel-height) + var(--button-panel-margin-top) +
      var(--flow-panel-padding-bottom)
  );
}

.burger_constructor {
  display: grid;
  grid-template-rows: calc(100% - var(--flow-panel-height-shorten)) var(
      --button-panel-height
    );
  box-sizing: border-box;
  max-width: 50%;
  height: -webkit-fill-available;
  padding-bottom: var(--flow-panel-padding-bottom);
  color: var(--text-primary-color);
}

.burger_constructor_hover {
  border-color: #1f58bb;
}

.burger_constructor_flow {
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger_constructor_fixed {
  height: auto;
}

.burger_constructor_dynamic {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  overflow: hidden visible;
}

.burger_constructor_total {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: var(--button-panel-height);
  margin-top: var(--button-panel-margin-top);
}

.burger_ingredient_root {
  display: flex;
  flex-direction: row;
  align-items: center;
}
