.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.burger_constructor_flow {
  padding-right: 20px;
  padding-bottom: 20px;
  overflow: hidden visible;
}

.burger_constructor_total {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
