.order_ok {
  justify-self: center;
  width: 120px;
  height: 120px;
}

.order_num {
  text-shadow:
    #1a1a6c 0 -4px 32px,
    #1a1a6c 0 4px 32px,
    #1a1a6c -4px 0 32px,
    #1a1a6c 4px 0 32px,
    #151556 0 8px 8px,
    #151556 -8px 0 8px,
    #151556 8px 0 8px,
    #151556 -8px 0 8px,
    #151556 0 8px 16px,
    #151556 -8px 0 16px,
    #151556 8px 0 16px,
    #151556 -8px 0 16px;
}
