.root {
  display: flex;
  flex-direction: column;
  width: 1240px;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 40px;
  overflow: hidden;
}

.title {
  width: 100%;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 60px;
  margin: 20px;
  overflow: hidden;
}

.orders_container {
  display: flex;
  flex-direction: column;
  min-width: 608px;
  overflow: hidden;
}

.orders_flow {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding-right: 8px;
  overflow: hidden visible;
}

.totals_root {
  width: 100%;
  min-width: 580px;
}

.totals_status_panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px;
  margin-bottom: 60px;
}

.totals_order_list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.totals_order_number {
  margin-bottom: 8px;
}

.totals_order_done {
  color: #0cc;
}

.totals_all {
  text-shadow:
    0 0 16px rgb(51 51 255 / 25%),
    0 0 8px rgb(51 51 255 / 25%),
    0 4px 32px rgb(51 51 255 / 50%);
}
