.modal_root {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: #191b1f;
  border-width: 0;
  border-radius: 25px;
  transform: translate(-50%, -50%);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal_title {
  width: 100%;
  margin: 10px 0;
  text-align: left;
}

.modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
}

@keyframes animatetop {
  from {
    top: 0;
    opacity: 0;
  }
}
