.modal_root {
  position: fixed;
  top: 25%;
  left: 40%;
  text-align: center;
  background-color: #191b1f;
  border-width: 0;
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 500ms,
    visibility 300ms;
}

.modal_root_open {
  visibility: visible;
  opacity: 1;
}

.modal_title {
  width: 100%;
  margin: 10px 0;
  text-align: left;
}

.modal_close {
  position: absolute;
  top: 20px;
  right: 20px;
}

@keyframes animatetop {
  from {
    top: 0;
    opacity: 0;
  }
}
