.details_title {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0;
}

.details_title_text {
  flex-grow: 1;
  align-self: center;
}

.details_card {
  margin: 10px;
  text-align: center;
}

.details_table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}

.details_table_cell {
  display: flex;
  flex-direction: column;
}
