.details_card {
  margin: 10px;
  text-align: center;
}

.details_table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
}

.details_table_cell {
  display: flex;
  flex-direction: column;
}
