.root {
  display: flex;
  max-width: 1280px;
  margin: 120px auto 0;
  padding: 0 40px;
}

.orders_container {
  display: flex;
  flex-direction: column;
  min-width: 844px;
  overflow: hidden;
}

.orders_flow {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding-right: 8px;
  overflow: hidden visible;
}
