.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding-bottom: 40px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.burger_ingredients_flow {
  padding-right: 16px;
  padding-left: 16px;
  overflow: hidden visible;
}

.burger_ingredients_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}
