.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding-bottom: 40px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.burger_ingredients_flow {
  padding-right: 16px;
  padding-left: 16px;
  overflow: hidden visible;
}

.burger_ingredients_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.burger_ingredient_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger_ingredient_price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.burger_ingredient_name {
  text-align: center;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
