.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 640px;
  max-height: 620px;
  margin: 60px 10px 40px;
  overflow: hidden;
}

.card_title {
  text-align: left;
}

.card_status {
  color: #0cc;
  text-align: left;
}

.card_ingredients {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_ingredients_flow {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding-right: 24px;
  overflow: hidden visible;
}

.card_ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.card_to_right {
  margin-left: auto;
}

.card_info {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.card_time {
  align-content: center;
}

.card_price_container {
  display: flex;
  align-items: center;
  align-self: flex-end;
  margin-left: auto;
}

.card_price {
  margin-right: 8px;
}
