.header {
  background-color: var(--background);
}

.menu {
  display: flex;
  align-items: center;
  max-width: 1240px;
  height: 56px;
  margin: 0 auto;
}

.link_container_left {
  display: flex;
  flex-basis: 35%;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
}

.link_content {
  display: flex;
  color: var(--text-inactive-color);
}

.link_content_active {
  color: var(--text-primary-color);
}

.link_container_right {
  display: flex;
  flex-basis: 35%;
  flex-direction: row;
  justify-content: flex-end;
  justify-content: space-evenly;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
